.cartItem {
    @include flex(row, space-between, center, 0);
    width: 100%;
    height: 12rem;
    border: $b-desktop solid $color-bg-grey;
    border-radius: 0.5rem;
    padding: $spacing-s $spacing-l;
    position: relative;

    .cartItem__img {
        height: 100%;
        width: 10%;
        @include flex(row, center, center, 0);
        overflow: hidden;
        
        img {
            max-height: 10rem;
            max-width: 100%;
        }
    }

    .cartItem__info {
        width: 60%;
        height: 100%;
        overflow: hidden;
        @include flex(column, center, flex-start, $spacing-s);
        

        .info__title {
            @include text($color-text, 2rem, left, 1em);
        }

        .info__description {
            @include text($color-text, $text-s, left, 1em);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
        }
    }

    .cartItem__qty {
        width: 10%;
        @include flex(column, center, center, $spacing-s);

        .qty__title {
            @include text($color-secondary, $text-m, left, 1em);
            margin-bottom: $spacing-s;
        }

        .qty {
            @include text($color-text, $text-m, left, 1em);
        }
    }

    .cartItem__total {
        width: 10%;
        @include flex(column, center, center, $spacing-s);

        .total__title {
            @include text($color-secondary, $text-m, left, 1em);
            margin-bottom: $spacing-s;
        }

        .total {
            @include text($color-text, $text-m, left, 1em);
        }
    }

    .cartItem__remove {
        position: absolute;
        right: $spacing-s;
        top: $spacing-s;
        font-size: $text-m;
        cursor: pointer;

        &:hover {
            color: $color-primary;
        }
    }
}

@media screen and (max-width: 768px) {
    .cartItem {
        width: 96%;
        height: auto;
        display: grid;
        grid-template-areas:
        'img img info info info info info info'
        'empty empty empty empty qty qty total total'
        ;
        gap: $spacing-s;
    
        .cartItem__img {
            grid-area: img;
            width: auto;
        }
    
        .cartItem__info {
            grid-area: info;
            width: auto;

            .info__title {
                @include text($color-text, 1.8rem, left, 1em);
            }
        }
    
        .cartItem__qty {
            grid-area: qty;
            width: auto;
            @include flex(row, center, center, $spacing-s);
    
            .qty__title {
                @include text($color-secondary, $text-base, left, 1em);
                margin-bottom: 0;
            }
    
            .qty {
                @include text($color-text, $text-base, left, 1em);
            }
        }
    
        .cartItem__total {
            grid-area: total;
            width: auto;
            @include flex(row, center, center, $spacing-s);
    
            .total__title {
                @include text($color-secondary, $text-base, left, 1em);
                margin-bottom: 0;
            }
    
            .total {
                @include text($color-text, $text-base, left, 1em);
            }
        }
    
        .cartItem__remove {
            font-size: 2rem;
        }
    }
}