*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $font-base;
    background: $color-bg;
    color: $color-text;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}