.navbar__search {
    display: flex;
    align-items: center;
    position: relative;
    width: 40%;

    .search__icon {
        position: absolute;
        left: 1rem;
        fill: $color-primary;
        opacity: 0.5;
        width: 2rem;
        height: 2rem;
    } 

    .search__input {
        width: 100%;
        height: 4rem;
        @include text($color-text, $text-base, left, 1em);
        font-family: $font-base;
        padding: 0 2rem;
        padding-left: 3.5rem;
        border: $b-desktop solid transparent;
        border-radius: 0.5rem;
        outline: none;
        background-color: $color-bg-grey;
        transition: 1s ease;

        &::placeholder {
            color: $color-secondary;
            opacity: 0.5;
        }

        &:focus, &:hover {
            outline: none;
            border-color: $color-primary;
            background-color: $color-bg;
        }
    }

    .search__list {
        position: absolute;
        top: 3.7rem;
        width: 100%;
        border-radius: 0 0 0.5rem 0.5rem;
        padding: $spacing-s;
        background-color: $color-bg-grey;
        @include flex(column, center, flex-start, $spacing-m);

        li {
            cursor: pointer;
            @include text($color-text, $text-base, left, 1em);

            &:hover {
                color: $color-primary;
            }
        }
    }
}